IO_LOC  "A[0]" 37;
IO_PORT "A[0]" IO_TYPE=LVCMOS18;

IO_LOC  "A[1]" 36;
IO_PORT "A[1]" IO_TYPE=LVCMOS18;

IO_LOC  "A[2]" 39;
IO_PORT "A[2]" IO_TYPE=LVCMOS18;

IO_LOC  "A[3]" 25;
IO_PORT "A[3]" IO_TYPE=LVCMOS18;

IO_LOC  "Y" 10;
IO_PORT "Y" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "s[0]" 3;
IO_PORT "s[0]" IO_TYPE=LVCMOS18;

IO_LOC  "s[1]" 4;
IO_PORT "s[1]" IO_TYPE=LVCMOS18;
