IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Cout" 16;
IO_PORT "Cout" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "A[1]" 3;
IO_PORT "A[1]" IO_TYPE=LVCMOS18;

IO_LOC  "A[0]" 84;
IO_PORT "A[0]" IO_TYPE=LVCMOS18;

IO_LOC  "A[2]" 36;
IO_PORT "A[2]" IO_TYPE=LVCMOS33;

IO_LOC  "A[3]" 39;
IO_PORT "A[3]" IO_TYPE=LVCMOS33;

IO_LOC  "B[0]" 83;
IO_PORT "B[0]" IO_TYPE=LVCMOS33;

IO_LOC  "B[2]" 27;
IO_PORT "B[2]" IO_TYPE=LVCMOS33;

IO_LOC  "B[3]" 28;
IO_PORT "B[3]" IO_TYPE=LVCMOS33;

IO_LOC  "B[1]" 4;
IO_PORT "B[1]" IO_TYPE=LVCMOS18;
