IO_LOC  "B[0]" 82;
IO_PORT "B[0]" IO_TYPE=LVCMOS18;

IO_LOC  "B[1]" 81;
IO_PORT "B[1]" IO_TYPE=LVCMOS18;

IO_LOC  "B[2]" 80;
IO_PORT "B[2]" IO_TYPE=LVCMOS18;

IO_LOC  "B[3]" 79;
IO_PORT "B[3]" IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[6]" 28;
IO_PORT "seg_out[6]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[5]" 27;
IO_PORT "seg_out[5]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[4]" 26;
IO_PORT "seg_out[4]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[3]" 25;
IO_PORT "seg_out[3]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[2]" 39;
IO_PORT "seg_out[2]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[1]" 36;
IO_PORT "seg_out[1]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "seg_out[0]" 37;
IO_PORT "seg_out[0]" DRIVE=12 IO_TYPE=LVCMOS18;

IO_LOC  "A[3]" 83;
IO_PORT "A[3]" IO_TYPE=LVCMOS18;

IO_LOC  "A[2]" 84;
IO_PORT "A[2]" IO_TYPE=LVCMOS18;

IO_LOC  "A[1]" 85;
IO_PORT "A[1]" IO_TYPE=LVCMOS18;

IO_LOC  "A[0]" 86;
IO_PORT "A[0]" IO_TYPE=LVCMOS18;

IO_LOC  "cout" 10;
IO_PORT "cout" DRIVE=8 IO_TYPE=LVCMOS18;
