IO_LOC  "load" 86;
IO_PORT "load" IO_TYPE=LVCMOS18;

IO_LOC  "pc[0]" 10;
IO_PORT "pc[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "pc[1]" 11;
IO_PORT "pc[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "pc[2]" 13;
IO_PORT "pc[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "pc[3]" 14;
IO_PORT "pc[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "pc[4]" 15;
IO_PORT "pc[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "pc[5]" 16;
IO_PORT "pc[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "reset" 3;
IO_PORT "reset" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "enable" 4;
IO_PORT "enable" IO_TYPE=LVCMOS18;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
